<div class="container">
  <p id="notice"><%= notice %></p>

  <%= image_tag @question.car_image.url, class: "thumb" %>
  <%= image_tag @question.car_image.url(:medium), class: "thumb" %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
</div>